@font-face {
    font-family: 'Fandol Hei';
    src: url('https://woff2.pages.dev/FandolHei-Bold.otf') format('opentype');
    font-weight: 700;
    /* Bold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fandol Hei';
    src: url('https://woff2.pages.dev/FandolHei-Regular.otf') format('opentype');
    font-weight: 400;
    /* Regular */
    font-style: normal;
    font-display: swap;
}